%h1
  = t('.header')

= form_tag event_categories_path, method: :get do
  = label_tag :institution_id, t('.institution')
  = text_field_tag :institution_id
  = submit_tag t('.submit'), class: 'button'
